@charset "utf-8";
/* CSS Document */
p {
	color:#FFFFFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	padding: 10px 10px;
	margin-top: -3px;
}

.bilde {
	position: absolute;
}

.textbox_sperre {
	width: 1280px;
	height: 582px;
	position: absolute;
}

.textbox {
	width: 1280px;
	height: 138px;
	background-color: #000000;
	opacity: 0.5;
	z-index: 2;
	position: absolute;
	margin-top: 582px;
}

.content_sperre {
	width: 1280px;
	height: 582px;
	z-index: 3;
	position: relative;
}

.content {
	width: 1280px;
	height: 138px;
	z-index: 3;
	position: relative;
	margin-top: 3px;
}

.UI {
	z-index: 4;
	position: absolute;
	margin-left: 480px;
	margin-top: 450px;
}

.gameOver {
	z-index: 5;
	position: absolute;
	margin-left: 360px;
	margin-top: -650px;
}

/* Kanppen som blir brukt for å få ting til å gå videre */
.contBtn {
	background-image: url(img/selections.png);
	border: none;
	color: white;
	padding: 3px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 2px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4;
	transition: 0.4;
	cursor: pointer;
}

.contBtn:hover {
	background-image: url(img/selections_on.png);
	color:#FFD02E;
	border: none;
	padding: 3px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 2px;
	border-color:#FFD02E;
}