/*.button {
	z-index:2;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 300px;
    cursor: pointer;
};*/
#mainBoard {
	float: left;
	margin-left:325px;
}

#chatWrap {
	height: 720px;
	width: 328px;
	position: relative;
}

#chat {
	float: left;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid black;
	height: 692px;
	width: 328px;
	font: 12px Helvetica, Arial;
	position: absolute;
	overflow: auto;
	margin-left:-2px;
}

form {
	background: #000;
	position: absolute;
	padding: 5px;
	bottom: 0;
	width: 318px;
	bottom:-2px;
	left: -2px;
}

#m {
	border: 0;
	width: 268px;
	margin-right: .5%;
}

#send {
	width: 15%;
	background: rbg(130, 224, 255);
	border: none;
	padding: 3px;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}